*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.container{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
}
.service-wrapper{
    padding: 5% 8%;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #fff;
    font-size: 5rem;
    -website-text-stroke-width: 2px;
    -website-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: #ffffff;
    background: linear-gradient(8deg,rgba(8,52,83,1) 0% rgba(0,230,173,1) 41%,rgba(41,17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

}
h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ffffff;

}
h1 span{
    position:absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;
    animation: anim 5s linear infinite;
}
@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 80%;
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}
.card{
    height: 330px;
    width: 370px;
    background-color: #000000;
    padding: 3% 8%;
    border: 0.2px solid red;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card:after{
    content:"";
    position: absolute;
    top: 150%;
    left:-200px;
    width: 120%;
    transition: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: o.5;
    transition: 1s;
}
.card:hover:after{
    width: 225%;
    top: -100%
}
.card i{
    color: red;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;

}
.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(225,225,225,0.6);
}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #ffffff;
}
.card:hover i{
    color:red
}
@media screen and (max-width:1200px) {
    .cards{
        grid-template-columns:repeat(2,1fr);
    }
    h1{
        font-size: 3.5rem;
    }
    
}
