@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* .header-main */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
  transition: 0.6s;
}

.main-header.sticky {
  padding: 50px 100px;
  background-color: #fff;
}

.main-header.sticky ul li a {
  color: #000;
  transition: 0.6s;
}

.main-header.sticky h1 {
  color: #000;
  transition: 0.6s;
}

.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  right: 0;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}

.section-a {
  background-image: url(./security1.png);
}

.btn {
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.stats {

  max-width: 960px;
  margin-left:300px ;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}

.stats div span {
  font-size: 160px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bd-example {
  margin: 3rem;
  margin-top: 100px;
}























/*about us page css*/
.h1-about{
 text-align: center;
 font-size: 70px;
}
.about{
  margin-top: 50px;
  width:100%;
  padding:78px 0px;
  background-color: #000000;
}
.about img{
  height: 520px;
  width: 520px;
}
.about-text{
   width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
   color: #ffffff;
   font-size: 80px;
   text-transform: capitalize;
   margin-bottom: 20px;
}
.about-text h5{
  color: #ffffff;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span{
  color: red;
}
.about-text p{
  color: #fcfcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  font-family: "https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap";
}
button{
  background:red;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background:transparent ;
  border:2px solid red ;
  cursor: pointer;
}
/* our services page css*/
#Our-services{
  margin-top: 0%;
}
.container{
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}
.service-wrapper{
  padding: 5% 8%;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1-our-services{
  color: #fff;
  font-size: 5rem;
  -website-text-stroke-width: 2px;
  -website-text-stroke-color: transparent;
  letter-spacing: 4px;
  background-color: #ffffff;
  background: linear-gradient(8deg,rgba(8,52,83,1) 0% rgba(0,230,173,1) 41%,rgba(41,17,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;

}
.h1-our-services:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ffffff;

}
.h1-our-services span{
  position:absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
  animation: anim 5s linear infinite;
}
@keyframes anim {
  95%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      left: 80%;
  }
}
.cards-our-services{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 80px;
}
.card-our-services{
  height: 330px;
  width: 370px;
  background-color: #000000;
  padding: 3% 8%;
  border: 0.2px solid red;
  border-radius: 8px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.card-our-services:after{
  content:"";
  position: absolute;
  top: 150%;
  left:-200px;
  width: 120%;
  transition: rotate(50deg);
  background-color: #fff;
  height: 18px;
  filter: blur(30px);
  opacity: o.5;
  transition: 1s;
}
.card-our-services:hover:after{
  width: 225%;
  top: -100%
}
.card-our-services i{
  color: red;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;

}
.card-our-services h2{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.card-our-services p{
  text-align: center;
  width: 100%;
  margin: 12px 0;
  color: rgba(225,225,225,0.6);
}
.card-our-services:hover{
  background-color: transparent;
  transform: translateY(-8px);
  border-color: #ffffff;
}
.card-our-services:hover i{
  color:red
}
@media screen and (max-width:1200px) {
  .card-our-services{
      grid-template-columns:repeat(2,1fr);
  }
  h1{
      font-size: 3.5rem;
  }
  
}
.h1-gallery{
  font-size: 5rem;
}

/* card2 css */

.review-card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.review-card{
  width: 325px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
  margin: 20px;
}
.review-card-img{
  width: 100%;
  height: auto;
}
.review-card-content{
  padding: 16px;
}
.review-card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
}
.review-card-content p{
  color: red;
  font-size: 15px;
  line-height: 1.3;
}
.review-card-content .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: red;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;

}

